h2, title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    }

p, li, a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.top_nav {
	background-color: #2294D1; 
	overflow: hidden;
    width: 100%;
    text-align: center;
}

.top_nav a {
	float: left;
	display: block;
	color: #FFFFFF;
	padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
}

.top_nav a:hover{
	background-color: #1E84B5;
	color: white;
}

.top_nav a.active {
    background-color: #145675;
    color: white;
 }  

 .footer{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2294D1; 
    text-align: center;
 }

 .footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
 }

html, body{
    height: 100%;
}

.container{
    min-height: 80%;
}

#map {
        height: 300px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
       }




